a:link {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #fae6d2;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #c0a386;
    background-color: transparent;
    text-decoration: underline;
}

body {
    background-color: #32343d;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #32343d;
}

pre {
    color: #fff;
}

code {
    color: #fff;
}

.speedthearxiv {
    font-size: 3.2rem;
    font-family: 'VT323', monospace;
}

.topmargin {
    margin-top: 120px;
}

.paper {
    margin-bottom: 20px;
}

.paper h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.paper .authors {
    font-size: 1rem;
    margin-bottom: 10px;
}

.search {
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .search:hover {
    color: #fae6d2;
}

.collapsible {
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .collapsible:hover {
    color: #fae6d2;
}

.search-box {
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 0.13rem;
    border-color: #3a3c44;
    border-radius: 0.3rem;
    border-style: solid;
    margin-bottom: 10pt;
    margin-right: 5pt;
}

.active, .search-box:hover {
    background-color: #3a3c44;
}

/* change border color of bootstrap cards */
:root {
    --bs-border-color-translucent: #3a3c44;
}

.card{
    --bs-card-spacer-y: 0.7rem;
}

.card-body {
    background-color: #32343d;
}

.content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}

.content .summary {
    font-size: 1rem;
    line-height: 1.5;
}