:root {
    --c-primary: #dfdfdf;
    --c-secondary: #e7e7e7;
    --c-nav: #f1e3d3;
    --c-code: #fff;
    --c-background: #32343d;
    --c-background_card: #494855;
    --c-link: #d3d3d3;
    --c-hover: #fae6d2;
    --c-active: #95be88;
    --c-visited: #b4a5c4;
    --c-border: #3a3c44;
    --c-highlight: #7c6186;
    /* change border color of bootstrap cards */
    --bs-border-color-translucent: var(--c-border);
}

a:link {
    color: var(--c-link);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--c-hover);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--c-active);
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: var(--c-visited);
    background-color: transparent;
    text-decoration: none;
}

body {
    background-color: var(--c-background);
    color: var(--c-primary);
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: var(--c-background);
    color: var(--c-nav);
}

pre {
    color: var(--c-code);
}

code {
    color: var(--c-code);
}

.speedthearxiv {
    color: var(--c-nav);
    font-size: 3.2rem;
    font-family: 'VT323', monospace;
}

.searchdata {
    position: fixed;
    top: 120;
    width: 100%;
}

.topmargin {
    /* margin-top: 120px; */
    margin-top: 200px;
}

.paper {
    margin-bottom: 20px;
}

.paper .title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.paper .title a:link {
    color: var(--c-secondary);
}

.paper .authors {
    font-size: 1rem;
    margin-bottom: 10px;
}

.search {
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .search:hover {
    color: var(--c-hover);
}

.collapsible {
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.active, .collapsible:hover {
    color: var(--c-hover);
}

.search-box {
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    text-align: left;
    outline: none;
    font-size: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 0.13rem;
    border-color: var(--c-border);
    border-radius: 0.3rem;
    border-style: solid;
    margin-bottom: 10pt;
    margin-right: 5pt;
}

.active, .search-box:hover {
    background-color: var(--c-background);
}

.list-group {
    margin-left: 20px;
}

.card{
    --bs-card-spacer-y: 0.7rem;
}

.card-body {
    background-color: var(--c-background_card);
}

.content {
    padding: 0 10px;
    display: none;
    overflow: hidden;
}

.content .summary {
    font-size: 1rem;
    line-height: 1.5;
}

.toHighlight{
    background-color: transparent;
    color: var(--c-primary);
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.highlight {
    background-color: var(--c-highlight);
}