{% extends "layout.html" %}

{% block content %}
<div class="topmargin">
    <div class="about">
        <h4>About</h4>
        <p>
            It is common practice to read the Arxiv periodically, checking the same sections, the same keywords, and the same authors. Speed-the-arxiv tries to speed these searches up.
            Together with a little HTML, it checks the latest on the Arxiv based on sections, keywords, and authors of choice. 
            These keys are stored in <code>.yaml</code> files and reused every time you run the script. Additional parameters in the file let you personalize the search criteria. 
            In the folder <code>search/</code>, you can have as many <code>.yaml</code> files as you want. You can choose what to search for on the landing page of <code>speedthearxiv.py</code>.
            The script uses Flask to query the Arxiv API and it shows the results in a clean HTML page. It includes collapsible abstracts and links to the articles.
            If needed, it checks and associates the Scirates to each article. Javascript behind for some dynamicity.
            Ajax takes care of making the search buttons and Flask talk.
        </p>
        <p>⚠️ Fetching the Scirates slows down the app quite a bit. Unfortunately, no API is available for this and I had to fetch it "manually".</p>

        <h4>A note on "learned" data</h4>
        <p>
            I thought about using ML (I even started the relative branch) to predict what you might be interested in, but I chose to drop the ball.
            The reason is simple, I want speed-the-arxiv to return a broader spectrum of results, including some exotic catches.
            Reading exclusively ad-hoc papers based on your past preferences does not incentivate creativity or change, keys in research.
            On the other hand, I want you to find something relevant to your work, without losing focus. That is why the search criteria can distill
            the vastest of the fields. There you have it, choose your set of parameters for your search, click the button, and start exploring.
        </p>

        <h4>Links</h4>
            <p>speed-the-arxiv -> <a href="https://github.com/mekise/speed-the-arxiv/" target="_blank">github</a></p>
            <p>Stefano Scali -> 
                <a href= "mailto:s.scali@exeter.ac.uk">s.scali@exeter.ac.uk</a> |
                <a href="https://www.stefanoscali.xyz/" target="_blank">website</a> |
                <a href="https://scholar.google.com/citations?user=j7dg-xwAAAAJ&hl=en" target="_blank">scholar</a> |
                <a href="https://github.com/mekise" target="_blank">github</a> |
                <a href="https://www.linkedin.com/in/stefano-scali/" target="_blank">linkedin</a> |
                <a href="https://twitter.com/phystefano" target="_blank">twitter</a>
            </p>
    </div>
</div>
{% endblock %}