<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>speed-the-arxiv</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/custom.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <nav class="navbar fixed-top">
                <div class="container justify-content-center">
                    <h1 class="speedthearxiv"><a href="/about"; style="font-family: 'Roboto', sans-serif; font-size: 1rem;">about</a> speed-the-arxiv <a href="https://www.stefanoscali.xyz"; target="_blank"; style="font-family: 'Roboto', sans-serif; font-size: 1rem;">by Stefano Scali</a></h1>
                </div>
            </nav>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                content.style.display = "none";
                } else {
                content.style.display = "block";
                }
            });
        }
    </script>

</html>