{% extends "layout.html" %}

{% block content %}
<div class="topmargin">
    {% for paper in papers %}
    <div class="paper">
        <h3 class="title"><a href="{{ paper.pdf_url }}" target="_blank">{{ paper.title }}</a></h3>
        <p class="authors">{{ paper.authors }}</p>
        <p class="authors">{{ paper.date }} - {{ paper.category }}</p>
        <p>
        {% if run_scirate %}
            <button id="btn-scirate-{{ loop.index }}" class="collapsible" type="button" aria-expanded="false" aria-controls="summary-{{ loop.index }}" data-bs-toggle="collapse" data-bs-target="#summary-{{ loop.index }}">
                Abstract | Scirate: {{ paper.scirate }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        {% else %}
            <button id="btn-{{ loop.index }}" class="collapsible" type="button" aria-expanded="false" aria-controls="summary-{{ loop.index }}" data-bs-toggle="collapse" data-bs-target="#summary-{{ loop.index }}">
                Abstract
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        {% endif %}
        </p>
        <div id="summary-{{ loop.index }}" class="collapse">
            <div class="card card-body">{{ paper.summary }}</div>
        </div>
    </div>
    <hr style="background-color:gray; margin-bottom: 30px;">
    {% endfor %}
</div>
{% endblock %}